<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Internal CSS -->
    <link rel="stylesheet" href="/style/main.css" type="text/css">
    <link href="/style/carosel.css" rel="stylesheet">
    <title>Wok & Grill About us </title>
</head>

<body>
    <!-- BootStrap Script Files -->
    <%- include('partials/bootstrapScripts') %>
    <!-- Header Section -->


    <!-- 404 Error Message and Image -->
    <div class="container">
        <!-- Image Row -->
        <div class="row">
            <div class="mx-auto mt-5">
                <!-- <img src="/images/tea-waiter.gif" alt="404 picture"> -->
                <img src="https://2.bp.blogspot.com/-uBLoLp62AmY/WjYyqklG8OI/AAAAAAAPfgw/hcECOIVCj2IU7aZvx3Hrl-pX1oN4La0PgCLcBGAs/s1600/AW684758_06.gif"
                    alt="">
            </div>
        </div>

        <!-- Message Row -->
        <div class="row">
            <div class="mx-auto">
                <h3>Error 404 : Sorry Page Not Found</h3>
            </div>
        </div>
    </div>


</body>

</html>