<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Internal CSS -->
    <link rel="stylesheet" href="/style/main.css" type="text/css">
    <link href="/style/carosel.css" rel="stylesheet">
    <title>Wok & Grill Location</title>
</head>

<body>
    <!-- BootStrap Script Files -->
    <%- include('partials/bootstrapScripts') %>

    <!-- Header Section -->
    <header>
        <%- include('partials/nav') %>
    </header>


    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">Location
            <small></small>
        </h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">Home</a>
            </li>

            <li class="breadcrumb-item active">Location</li>

            <!-- Back Button -->
            <li class="breadcrumb-item">
                <a href="javascript:history.back()"> ... Previous Page</a>
            </li>
        </ol>

        <!-- Content -->
        <div class="row">
            <!-- ------------- Map Column ------------------ -->
            <div class="col-lg-8 mb-4">
                <!-- Embedded Google Map -->
                <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                    src="http://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;ll=33.9977878,-117.716481&amp;spn=56.506174,79.013672&amp;t=m&amp;z=6&amp;output=embed"></iframe>
            </div>
            <!-- ------------- Map Column ------------------ -->

            <!--  ----------- A D D R E S S    C A R D ----------------------  -->
            <div class="col-lg-4 mb-4 portfolio-item address" >
                <div class="card h-100 bg-bamboo m-0">

                    <div class="card-body address-body">
                        <!-- Menu Title -->
                        <h4 class="card-title">Address</h4>

                        <!-- Street -->
                        <p> 4110 Edison Ave #108
                            <br>Chino, CA 91710
                            <br>
                        </p>

                        <!-- Store Phone -->
                        <p>
                            <abbr title="Phone">Phone: (909) 548-2088
                        </p>

                        <!-- Email -->
                        <p>
                            <abbr title="Email">Email:<a href="mailto:name@example.com">Wok_and_Grill@gmail.com</a>
                    </div>
                </div>
              </div>
            <!--  ----------- A D D R E S S    C A R D ----------------------  -->

        </div>
    </div>

        <!-- Footer -->
        <%- include('partials/footer') %>
</body>

</html>